/* Hello Pro 3 - Gutenberg Editor Screen Styles
--------------------------------------------- */
body {
	background: #fdfdfd;
    font-family: 'Montserrat', sans-serif !important;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.625;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol,
dl {
	font-size: 18px;
	line-height: 1.625;
}

/* Regular content width.
/* 660px + 30px to match paragraph width on front-end and editor.
--------------------------------------------- */
.wp-block {
	max-width: 690px;
}

/* Width of "wide" blocks
/* 1062px + 30px so wide images match width in front-end and editor.
/* 1120px = default column width of 660px + .alignwide negative margin of 360px
--------------------------------------------- */
.wp-block[data-align="wide"] {
	max-width: 940px;
}

.wp-block[data-align="full"] {
	max-width: none;
}

/* Typography
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
    padding: 0;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

b,
strong {
    font-weight: 900;
}

pre {
    font-family: monospace;
}

.editor-post-title__block .editor-post-title__input {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 20px;
}

p.has-drop-cap:not(:focus)::first-letter {
	margin: 0.02em 0.08em 0 -0.08em;
}

p.has-larger-font-size.has-drop-cap:not(:focus)::first-letter,
p.has-small-font-size.has-drop-cap:not(:focus)::first-letter {
	margin-right: 0.01em;
}

/* Background Color
--------------------------------------------- */

p.has-background {
	padding: 25px 30px;
}

p.box-shadow {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

p.has-background a,
p.has-text-color a {
	color: inherit;
}

p.has-background a:focus,
p.has-background a:hover,
p.has-text-color a:focus,
p.has-text-color a:hover {
	color: inherit;
	text-decoration: none;
}

/* Blockquotes and captions
--------------------------------------------- */

.wp-block-pullquote,
.wp-block-quote {
	border: none;
	margin: 0 !important;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border: none;
	color: #999;
}

.wp-block[data-align="left"] .wp-block-pullquote {
	margin: 0 2em 1.5em 0;
}

.wp-block[data-align="right"] .wp-block-pullquote {
	margin: 0 0 1.5em 2em;
}

.wp-block[data-align="left"] .wp-block-pullquote blockquote,
.wp-block[data-align="right"] .wp-block-pullquote blockquote {
	margin: 0 auto;
}

.wp-block-pullquote:not(.is-style-solid-color) blockquote,
.wp-block-quote blockquote {
    margin: 15px 20px;
	padding: 24px 40px;
}

@media screen and (min-width: 1023px) {
	.wp-block-pullquote:not(.is-style-solid-color) blockquote,
	.wp-block-quote blockquote {
	    margin: 30px 40px;
	}
}

@media screen and (min-width: 1200px) {
	.wp-block-pullquote:not(.is-style-solid-color) blockquote,
	.wp-block-quote blockquote {
	    margin: 60px 80px;
	}
}

.wp-block[data-align="left"] .wp-block-pullquote blockquote,
.wp-block[data-align="right"] .wp-block-pullquote blockquote {
	max-width: 80%;
}

.wp-block-pullquote p,
.wp-block-pullquote blockquote > .editor-rich-text p,
.wp-block-quote p {
	font-family: 'Montserrat', sans-serif;
	font-size: 21px !important;
	line-height: 1.8;
	margin-bottom: 42px;
	padding-left: 0;
	color: #999;
}

.wp-block-pullquote blockquote .editor-rich-text__tinymce > p:first-of-type {
    padding-top: 20px;
    border-top-style: solid;
    border-top-width: 1px;
}

.wp-block-pullquote:not(.is-style-solid-color) blockquote .editor-rich-text__tinymce > p:first-of-type {
    border-top-color: rgba(0, 0, 0, 0.05);
}

.wp-block-pullquote blockquote .editor-rich-text__tinymce > p:last-of-type {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.wp-block-pullquote:not(.is-style-solid-color) blockquote .editor-rich-text__tinymce > p:last-of-type {
    border-bottom-color: rgba(0, 0, 0, 0.05);
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
    position: relative;
    margin: 15px 20px;
    padding: 24px 40px;
}

.wp-block-pullquote.is-style-solid-color blockquote .editor-rich-text__tinymce > p:first-of-type {
    border-top-color: rgba(255, 255, 255, 0.1);
}

.wp-block-pullquote.is-style-solid-color blockquote .editor-rich-text__tinymce > p:last-of-type {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

.wp-block-pullquote blockquote.has-text-color .editor-rich-text__tinymce > p:first-of-type {
    border-top-color: currentColor;
}

.wp-block-pullquote blockquote.has-text-color .editor-rich-text__tinymce > p:last-of-type {
    border-bottom-color: currentColor;
}

.wp-block[data-align="wide"] .wp-block-pullquote blockquote > .editor-rich-text p,
.wp-block[data-align="full"] .wp-block-pullquote blockquote > .editor-rich-text p {
	font-size: 21px !important;
}

.wp-block-pullquote p,
.wp-block-quote.is-style-large p {
	font-size: 32px !important;
}

.wp-block-pullquote.is-style-solid-color {
	background-color: #333;
}

.wp-block-pullquote.is-style-solid-color p {
	color: #fff;
	margin-bottom: 42px;
	text-align: center;
}

.wp-block-pullquote:not(.is-style-solid-color)[style*="border-color"] {
	border: 2px solid;
	border-left: none;
	border-right: none;
}

.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote:not(.is-style-solid-color) .wp-block-pullquote__citation.editor-rich-text__tinymce,
.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation.editor-rich-text__tinymce,
.wp-block-quote .wp-block-quote__citation.editor-rich-text__tinymce {
	display: block;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10px;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 3px;
    text-align: center;
	text-transform: none;
}

.wp-block-pullquote:not(.is-style-solid-color) .wp-block-pullquote__citation.editor-rich-text__tinymce,
.wp-block-pullquote blockquote:not(.has-text-color) .wp-block-pullquote__citation,
.wp-block-quote .wp-block-quote__citation {
    color: #999;
}

.wp-block[data-align="wide"] .wp-block-pullquote .wp-block-pullquote__citation.editor-rich-text__tinymce,
.wp-block[data-align="full"] .wp-block-pullquote .wp-block-pullquote__citation.editor-rich-text__tinymce {
	/* font-size: 20px; */
}

.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
	color: #fff;
	font-style: italic;
}

.wp-block-pullquote .has-text-color .block-library-pullquote__content p,
.wp-block-pullquote .has-text-color .wp-block-pullquote__citation,
.wp-block-pullquote .has-text-color p {
	color: currentColor;
}

.wp-block-pullquote:not(.is-style-solid-color) blockquote .editor-rich-text__tinymce > p {
	margin-bottom: 0;
}

.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	color: #666;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 30px;
	margin-top: 10px;
}

.wp-block-quote[class*="align"] .wp-block-quote__citation,
.wp-block-pullquote[class*="align"] .wp-block-pullquote__citation {
	text-align: center;
}

/* Color Palette
--------------------------------------------- */

.has-canary-color,
.has-canary-color p {
    color: #fffcf5 !important;
}

.has-white-color,
.has-white-color p {
	color: #fff !important;
}

.has-dark-gray-color,
.has-dark-gray-color p {
	color: #333 !important;
}

.has-black-color,
.has-black-color p {
	color: #000 !important;
}

.wp-block-button:not(.is-style-outline) .has-white-background-color {
    background-color: #fff !important;
}

/* Figcaption
--------------------------------------------- */

.wp-block-image figcaption {
	color: #666;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-style: italic;
	margin-top: 10px;
}

/* Font Sizes
--------------------------------------------- */

p.has-small-font-size {
	font-size: 12px;
}

p.has-normal-font-size {
	font-size: 16px;
}

p.has-medium-font-size {
	font-size: 20px;
}

p.has-large-font-size {
	font-size: 24px;
}

p.has-huge-font-size {
	font-size: 30px;
}

/* Lists
--------------------------------------------- */

.editor-block-list__block .editor-rich-text__tinymce li {
	line-height: 1.625;
	margin-bottom: 0;
}

/* Preformatted elements
--------------------------------------------- */

.wp-block-preformatted pre,
.wp-block-verse pre {
	font-family: monospace;
	font-size: 18px;
	line-height: 1.625 !important;
}

/* Code
--------------------------------------------- */
.wp-block-code .block-editor-plain-text {
	color: #666;
    font-family: 'Courier New', monospace;
    font-size: 17px;
}

/* Separators
--------------------------------------------- */

hr.wp-block-separator {
	border: none;
	border-top: 1px solid #eee;
	margin: 1.65em auto;
}

hr.wp-block-separator.is-style-dots {
	border: none;
}

/* Tables
--------------------------------------------- */
.wp-block-table {
	font-size: 18px;
	line-height: 2;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table tr {
	border: none;
}

.wp-block-table tr {
	border-top: 1px solid #eee;
}

.wp-block-table tbody {
	border-bottom: 1px solid #eee;
}

/* Buttons
--------------------------------------------- */
.wp-block-button .wp-block-button__link {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: inherit;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    white-space: normal;
    width: auto;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link {
    border: 0;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	background-color: transparent !important;
    border-color: inherit;
	color: #ce461c;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background:not(.has-primary-background-color):hover {
    box-shadow: inset 0 0 200px rgba(255,255,255,0.2);
}

.wp-block-button.is-style-outline .wp-block-button__link.has-text-color {
	border-color: inherit;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
	background-color: #53796e;
	border-color: #53796e;
	color: #fff;
}

/* Atomic Blocks - Button */
.ab-block-button .ab-button {
    padding: 1em;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Genesis Blocks - Button */
.gb-block-button .gb-button {
    padding: 1em;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* Galleries
---------------------------------------------------------------------------- */

.wp-block-gallery .blocks-gallery-item {
	margin-bottom: 16px;
}

/* Category Block
---------------------------------------------------------------------------- */

.wp-block-categories ul {
	margin-left: 0;
	padding-left: 0;
}

.wp-block-categories li {
	list-style-type: none;
}

.wp-block[data-align="right"] .wp-block-categories__list {
	text-align: right;
}

.wp-block[data-align="full"] .wp-block-categories__list {
	padding: 0 30px;
}

/* Latest Posts Block
---------------------------------------------------------------------------- */

.wp-block-latest-posts {
	margin-left: 0;
	padding-left: 0;
}

.wp-block-latest-posts li {
	list-style-type: none;
}

.wp-block[data-align="center"] .wp-block-latest-posts {
	text-align: center;
}

.wp-block[data-align="full"] .wp-block-latest-posts {
	padding: 0 30px;
}

/* Columns block
---------------------------------------------------------------------------- */

.wp-block[data-align="full"] .wp-block-columns > .editor-inner-blocks {
	padding: 0 30px;
}

/* Atomic Blocks - Container
--------------------------------------------- */
[data-type="atomic-blocks/ab-container"] > .editor-block-list__block-edit {
    border: 2px dotted #ccc;
}

/* Genesis Blocks - Container
--------------------------------------------- */
[data-type="genesis-blocks/gb-container"] > .editor-block-list__block-edit {
    border: 2px dotted #ccc;
}

/* Blockquotes and captions
--------------------------------------------- */
blockquote::before {
    content: "";
    display: none;
}

.wp-block-quote,
.wp-block-pullquote {
    border: none;
    margin: 24px 24px 36px;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
    padding: 0;
}

.wp-block-pullquote:not(.is-style-solid-color) {
    background: none;
}

.wp-block-pullquote:not(.is-style-solid-color) blockquote {
    position: relative;
    margin: 15px 20px;
}

.wp-block-pullquote:not(.is-style-solid-color).alignleft blockquote,
.wp-block-pullquote:not(.is-style-solid-color).alignright blockquote {
    margin: 0;
}

.wp-block-pullquote:not(.is-style-solid-color).alignleft blockquote > p:first-of-type::before,
.wp-block-pullquote:not(.is-style-solid-color).alignright blockquote > p:first-of-type::before {
    display: none;
    content: "";
}

.wp-block-quote p,
.wp-block-pullquote p {
    font-size: 21px;
    letter-spacing: 2px;
    font-style: normal;
    line-height: 1.8;
    margin-bottom: 42px;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p,
.wp-block-quote.alignwide p,
.wp-block-quote.alignfull p,
.wp-block-pullquote.is-large p,
.wp-block-pullquote.is-style-large p,
.wp-block-pullquote.alignwide p,
.wp-block-pullquote.alignfull p {
    font-size: 26px !important;
}

.wp-block-pullquote.is-style-solid-color.aligncenter p {
    text-align: center;
}

.wp-block-quote cite,
.wp-block-pullquote cite {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 3px;
    text-align: right;
}

.wp-block-audio figcaption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 30px;
    margin-top: 10px;
}

.wp-block-quote[class*="align"] cite,
.wp-block-pullquote[class*="align"] cite {
    text-align: center;
}

/* Code
--------------------------------------------- */
.wp-block-code {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.wp-block-code code {
    color: #666;
}

/* Verse
--------------------------------------------- */
.wp-block-verse {
    padding-left: 30px;
    border-left: 4px solid rgba(0, 0, 0, 0.1);
}

/* Homepage Sections
--------------------------------------------- */
.welcome .wp-block-cover-text,
.welcome .has-huge-font-size,
.statement .wp-block-cover-text,
.statement .has-huge-font-size,
p.has-huge-font-size.title {
    font-size: 40px !important;
    line-height: normal;
    text-transform: uppercase;
}

.welcome .wp-block-cover-text,
.welcome p,
.statement .wp-block-cover-text,
.statement p {
    display: block;
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    padding: 0 30px;
}

.opt-in .gform_wrapper {
    margin: 0 auto;
}

.statement {
    margin-bottom: 0;
}

.statement.wp-block-cover {
    background-position: center bottom;
}

/* WP Forms
--------------------------------------------- */
.opt-in .wpforms-container .wpforms-form .wpforms-field-label,
.opt-in .wpforms-container .wpforms-form .wpforms-field-sublabel {
    color: #fff;
}

.wpforms-gutenberg-form-selector .wpforms-form button[type=submit] {
	border: none !important;
}

/* Extra Classes
--------------------------------------------- */
.img-circle img {
    border-radius: 50%;
}

/* AB ADVANCED COLUMNS BLOCK
--------------------------------------------- */
.block-editor-block-list__layout .block-editor-block-list__block[data-type="atomic-blocks/ab-columns"][data-align="full"] {
	margin-left: 0;
	margin-right: 0;
}

/* GB ADVANCED COLUMNS BLOCK
--------------------------------------------- */
.block-editor-block-list__layout .block-editor-block-list__block[data-type="genesis-blocks/gb-columns"][data-align="full"] {
	margin-left: 0;
	margin-right: 0;
}

/* MEDIA QUERIES
----------------------------------------------------------------------------- */
@media only screen and (min-width: 960px) {

    .alignwide:not(.wp-block-atomic-blocks-ab-columns) {
        margin-left: -180px;
        margin-right: -180px;
        max-width: 1062px;
    }

	.alignwide:not(.wp-block-genesis-blocks-gb-columns) {
        margin-left: -180px;
        margin-right: -180px;
        max-width: 1062px;
    }

    .wp-block-cover.alignwide {
        width: auto;
    }

    .wp-block-cover .wp-block-cover-text {
        font-size: 48px;
    }

}

@media screen and (min-width: 1023px) {

	.welcome .wp-block-cover-text,
	.welcome .has-huge-font-size,
	.statement .wp-block-cover-text,
	.statement .has-huge-font-size,
	p.has-huge-font-size.title {
	    font-size: 50px !important;
	}

}

@media screen and (min-width: 1200px) {

	.welcome .wp-block-cover-text,
	.welcome .has-huge-font-size,
	.statement .wp-block-cover-text,
	.statement .has-huge-font-size,
	p.has-huge-font-size.title {
	    font-size: 60px !important;
	}

}
